<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.repository.mapper.CommentMapper">
<cache />

<sql id="BaseColumns">
	comment_no AS commentNo,
	user_id AS userId,
	comment_content AS commentConent,
	reg_date AS regDate
</sql>

<select id="selectCommentByPrimaryKey" parameterTyp"long" resultType="mybatis.model.Comment">
	select
		<include refid="BaseColumns" />
	from comment
	where comment_no = #{commentNo}
</select>

<select id="selectCommentByCondition" parameterType="hashmap" resultType="mybatis.comment.Comment">
	select
		comment_no AS commentNo,
		user_id AS userId,
		comment_content AS commentContent,
		reg_date AS regDate
	from comment
	<where>
		<if test="commentNo != null">
		comment_no = #{commentNo}
		</if>
	</where>
</select>

<insert id="insertComment" parameterType="mybatis.model.Comment">
	insert into comment(comment_no , user_id, comment_content, reg_date)
	values(#{commentNo},#{userId},#{commentContent},#{regDate})
</insert>


<update id="updateComment" parameterType="mybatis.model.Comment">
	update comment set comment_content = #{commentContent}
	where comment_no = #{commentNo}
</update>

<delete id="deleteComment" parameterType="long">
	delete from comment
	where comment_no = #{commentNo}
</delete>












